@import "mixins";

/* Overriding positive */
.button.button-positive {
  background-color: #ef473a !important;
}

.topper {
  margin-top: 10%;
}

.c-center {
    margin: auto;
}

.xlarge {
  font-size: x-large;
}

.logo {
  @extend .c-center;
  content: url("../img/homemade.png");
  width: 75%;
  @include border-radius(15px);
}

.bold {
  font-weight: 700;
}
