<ion-view side="right" view-title="Sign up" title="Sign up" hide-back-button="true" hide-nav-bar="false">
  <ion-nav-buttons side="left">
    <button class="button" ui-sref="signin">
      <i class="xlarge ion-android-arrow-back"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="">
    <div class="list">
      <form name="signupForm" novalidate>
        <label class="item item-input item-floating-label">
          <span class="input-label">Full name</span>
          <input type="text" placeholder="Full name" ng-model="signupCtrl.sf.fullName" ng-required="true" ng-minlength="5">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Mobile number</span>
          <input type="tel" placeholder="Mobile number"
          ng-model="signupCtrl.sf.phone" ng-required="true" ng-minlength="10" ng-maxlength="10">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Email</span>
          <input type="email" placeholder="Email" ng-model="signupCtrl.sf.email" ng-required="true">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Password</span>
          <input type="password" placeholder="Password" ng-model="signupCtrl.sf.password" ng-required="true">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Re-type password</span>
          <input type="password" placeholder="Re-type password" ng-model="signupCtrl.sf.repassword" ng-required="true">
        </label>
        
        <button class="button button-full button-assertive" ng-disabled="signupForm.$invalid" ng-click="signupCtrl.signup()">
          Sign up
        </button>
      </form>
    </div>
  </ion-content>
</ion-view>
