<ion-view side="right" view-title="Forgot password" title="Forgot password" hide-back-button="true" hide-nav-bar="false">
  <ion-nav-buttons side="left">
    <button class="button" ui-sref="signin">
      <i class=" ion-android-arrow-back"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="">
    <div class="list">
      <form name="forgotPasswordForm" novalidate>
        <label class="item item-input item-floating-label">
          <span class="input-label">Mobile number</span>
          <input type="tel" placeholder="Mobile number"
          ng-model="fpCtrl.fp.phone" ng-required="true" ng-minlength="10" ng-maxlength="10">
        </label>

        <button class="button button-full button-positive" ng-disabled="forgotPasswordForm.$invalid" ng-click="fpCtrl.forgotPassword()">
          Submit
        </button>
      </form>
    </div>
  </ion-content>
</ion-view>
